################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Visto/bin
/src/Visto/obj
/src/Visto.v12.suo
/src/Visto.sln.GhostDoc.xml
*.js.map
/src/Visto/Visto.csproj.user
/src/.vs
*.suo
