<div role="tabpanel">
    <!-- Tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <!-- ko foreach: tabs -->
        <li role="presentation" data-bind="css: { active: $parent.selectedTab() == $data.view }, click: $parent.changeTab.bind($parent, $data)">
            <a role="tab" data-toggle="tab" href="#" data-bind="text: $data.title"></a>
        </li>
        <!-- /ko -->
    </ul>

    <!-- Content -->
    <div class="tab-content" data-bind="foreach: tabs">
        <div class="tab-pane" data-bind="css: { active: $parent.selectedTab() == $data.view }, view: { name: $data.view }"></div>
    </div>
</div>