<div>
    <vs-page-header />


    <div class="container">
        <h1>DetailsPage</h1>
        <div data-bind="if: item() != null" class="well">
            <div class="form-group">
                <label>ID</label>
                <div data-bind="text: item().id"></div>
            </div>
            <div class="form-group">
                <label>Title</label>
                <div data-bind="text: item().title"></div>
            </div>
        </div>
    </div>

    <vs-page-footer />
</div>
