<div>
    <vs-page-header show-back-button="false" />

    <div class="container">
        <h1>Visto JavaScript Library</h1>

        <p>
            This sample application shows the capabilities of the Visto JavaScript Framework.
            <div class="alert alert-info">
                The look and feel of this sample application is only for demonstration purposes and can completely be changed.
            </div>
        </p>

        <h2>General</h2>
        <p>
            <button class="btn btn-default" data-bind="click: navigateToBindings">Bindings</button>
            <button class="btn btn-default" data-bind="click: navigateToInternationalization">Internationalization</button>
        </p>

        <h2>Paging</h2>
        <p>
            <button class="btn btn-default" data-bind="click: navigateToListPage">Navigate to list page</button>
        </p>

        <h2>Views</h2>
        <p>
            <button class="btn btn-default" data-bind="click: navigateToTabPage">Navigate to tab page</button>
            <button class="btn btn-default" data-bind="click: navigateToWebViewPage">Navigate to web view page</button>
        </p>

        <h2>Dialogs</h2>
        <p>
            <button class="btn btn-default" data-bind="click: showAlert">Show not implemented alert</button>
            <button class="btn btn-default" data-bind="click: showCustomDialog">Show custom dialog</button>
        </p>
    </div>

    <vs-page-footer />
</div>