<div>
    <!--<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Visto JavaScript Library Sample Application</a></li>
                    <li><a href="https://github.com/VistoJS/Core/wiki">Documentation</a></li>
                </ul>
            </div>
        </div>
    </div>-->
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <button data-bind="click: defaultCommands.navigateBack" class="btn btn-primary">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
            </li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
    </div>
</div>