<div>
    <nav class="navbar navbar-default">
        <div class="container">
            <button data-bind="click: defaultCommands.navigateBack, css: { disabled: parameters.getBoolean('showBackButton', true) === false }" class="btn btn-default navbar-btn">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button data-bind="click: defaultCommands.navigateHome, css: { disabled: parameters.getBoolean('showBackButton', true) === false }" class="btn btn-default navbar-btn">
                Home
            </button>
            <a href="https://github.com/VistoJS/Core" class="btn btn-default navbar-btn">Visto JavaScript Framework Website</a>
        </div>
    </nav>
</div>