<div>
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <p class="navbar-btn">
                        <a data-bind="click: defaultCommands.navigateBack, css: { disabled: parameters.getBoolean('showBackButton', true) === false }" href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </p>
                </li>
                <li><a href="https://github.com/VistoJS/Core">VistoJS</a></li>
            </ul>
        </div>
    </nav>
</div>