<div>
    <vs-page-header />

    <div class="page_menu">
        <ul class='menu'>
            <li><a href="#" data-bind="click: defaultCommands.navigateBack">Back</a></li>
        </ul>
    </div>

    <div class="page_content">
        <div class="box box_content">
            Web view:
            <div style="background: #DDD; padding: 5px">
                <vs-web-view package="common" url="Content/Static/a.html" />
            </div>
        </div>
    </div>

    <vs-page-footer />
</div>
