/* Loading screen */
.loading {
    background: #7F7F7F;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading_image {
    border: 0;
    margin-top: 150px;
}

/* Page */
html {
    background-color: #EEE;
}

html, body, p, td {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

p {
    margin-bottom: 8px;
}

h2 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 14pt;
}

.page_header {
    height: 36px;
    padding: 18px 8px 8px 12px;
    font-size: 20px;
    color: white;
    background-color: #395B8E;
}

.page_menu {
    background-color: #86a3d2;
    padding: 8px;
    margin-bottom: 8px;
}

.page_footer {
    height: 36px;
    margin-top: 8px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #86a3d2;
}

.page_content {
    top: 102px;
    bottom: 36px;
    padding-top: 8px;
    position: absolute;
    width: 100%;
    overflow: auto;
}

.page_wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

/* Menu */
.menu li.tab.active {
    background-color: #EEE;
    padding-bottom: 13px;
    border-bottom: none;
}

.menu li.tab {
    background-color: white;
    padding-bottom: 12px;
}

.menu li.active:hover {
    color: black;
    background-color: #EEE;
}

.menu {
    list-style-type: none;
    padding: 4px 8px 4px 0px;
    margin: 0px;
    vertical-align: middle;
}

.menu li {
    display: inline;
    margin: 0px;
    padding: 4px 8px 4px 8px;
    height: 40px;
    background-color: white;
}

.menu a {
    margin: 8px;
    padding: 0;
    text-decoration: none;
    color: black;
}

.menu li:hover {
    color: white;
    background-color: grey;
}

/* Forms */
.inputlabel {
    margin-top: 4px;
    font-weight: bold;
}

.inputcontent {
    margin-top: 4px;
}

/* Lists */

.list {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    border: none;
}

.list td,
.list th {
    margin: 0px;
    padding: 6px;
    text-align: left;
}

.list tr:hover {
    background-color: #EEE;
}

.list th,
.box_header,
.block_header,
.box_accordion h3 {
    background-color: #CCC;
    margin: 0px;
    padding: 6px;
    font-size: 1em;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid #AAA;
}

.box_accordion h3 a {
    text-decoration: none;
    color: black;
}

.box,
.box_accordion {
    border: 1px solid #AAA;
    margin: 2px 8px 8px 8px;
    background-color: white;
}

.box_accordion {
    border-bottom: none;
}

.box_accordion_content {
    border-bottom: 1px solid #AAA;
    padding: 4px 8px 8px 8px;
}

.box_content {
    padding: 8px;
}

.sortable {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

    .sortable .box_header {
        cursor: move;
    }

.sortable_horizontal {
    min-height: 24px;
    margin-bottom: 0px;
}

    .sortable_horizontal > div {
        display: inline-block;
        vertical-align: top;
    }

.sortable .block_header {
    cursor: move;
}

.block_header {
    background-color: #EEE;
}

.ui-sortable-placeholder {
    /*	border: 1px dotted black; */
    background-color: #ddd;
    visibility: visible !important;
    margin-bottom: 8px;
    margin-left: 8px;
}

    .ui-sortable-placeholder * {
        visibility: hidden;
    }

/* Inputs */
select {
    width: 100%;
}


.box_disabled .block_header {
    background-color: #ff8a8a;
}

.box_disabled .box {
    background-color: #ffc6c6;
}


/* Dialog */
.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    outline: 0;
}

    .ui-dialog .ui-dialog-titlebar {
        padding: .4em 1em;
        position: relative;
    }

    .ui-dialog .ui-dialog-title {
        float: left;
        margin: .1em 0;
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        position: absolute;
        right: .3em;
        top: 50%;
        width: 21px;
        margin: -10px 0 0 0;
        padding: 1px;
        height: 20px;
    }

    .ui-dialog .ui-dialog-content {
        position: relative;
        border: 0;
        padding: .5em 1em;
        background: none;
        overflow: auto;
    }

.ui-button {
    min-width: 70px;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin-top: .5em;
    padding: .3em 1em .5em .4em;
}

    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
        float: right;
    }

    .ui-dialog .ui-dialog-buttonpane button {
        margin: .5em .4em .5em 0;
        cursor: pointer;
    }

.ui-dialog .ui-resizable-se {
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
    background-position: 16px 16px;
}



.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}

    .ui-widget .ui-widget {
        font-size: 1em;
    }

    .ui-widget input,
    .ui-widget select,
    .ui-widget textarea,
    .ui-widget button {
        font-family: Verdana,Arial,sans-serif;
        font-size: 1em;
    }

.ui-widget-content {
    background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
}

    .ui-widget-content a {
        color: #222222;
    }

.ui-widget-header {
    border-bottom: 1px solid #aaaaaa;
    background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
}

    .ui-widget-header a {
        color: #222222;
    }

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}



.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

.ui-front {
    z-index: 100;
}

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-widget-overlay {
    background: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000)";
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}
