<div class="modal fade" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" vs-text="{title}"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label vs-text="{label}"></label>
                    <select class="inputcontent"
                            vs-options="{items() !== null ? items() : null}"
                            vs-value="{selectedItem}"
                            vs-options-text="{optionsText}"
                            vs-enable="{enable}"></select>
                </div>
            </div>
            <div class="modal-footer">
                <!-- TODO: Implement buttons -->
                <button type="button" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>