<div class="container">
    <h1>BindingsPage</h1>
    <p>
        The text of the following textbox is bound to the <code>selectedText</code> property of the <code>SampleControl</code> view.
    </p>

    <div class="form-group">
        <label>Text</label>
        <input vs-value="{selectedText}" vs-value-update="afterkeydown" class="form-control" />
    </div>
    <p>
        The <code>SampleControl</code> takes the bound variable and binds it to its own input controls:
    </p>

    <div class="panel panel-default">
        <div class="panel-heading">
            SampleControl (app)
        </div>
        <div class="panel-body">
            <vs-sample-control />
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            A (app) (Virtual Nesting Test)
        </div>
        <div class="panel-body">
            <vs-a />
        </div>
    </div>
</div>