<div class="container">
    <h1>FormPage</h1>

    <vs-text-box label="Foo"
                 value="Bar" 
                 required="true"
                 min-length="3"
                 max-length="10" 
                 max-length-error="The foo must have at most {max} characters!"
                 validation-regex="[a-zA-Z]*" />

    <div class="panel panel-default">
        <div class="panel-heading">
            Form
        </div>
        <div class="panel-body">
            <form vs-id="form">
                <vs-text-box label="First name"
                             value="John"
                             placeholder="John" 
                             required="true"/>

                <vs-check-box label="Has last name" checked="{hasLastName}" />
                <vs-text-box label="Last name" 
                             placeholder="Doe" 
                             required="true"
                             vs-visible="{hasLastName}"
                             validation-enabled="{hasLastName}"/>

                <vs-button enabled="{isFormValid}">Save</vs-button>
            </form>
        </div>
    </div>
</div>