<div class="container">
    <h1>Visto JavaScript Library</h1>

    <p>
        This sample application shows the capabilities of the Visto JavaScript Framework.
        <div class="alert alert-info">
            The look and feel of this sample application can be completely changed.
        </div>
    </p>

    <h2>General</h2>
    <p>
        <button class="btn btn-default" vs-click="{navigateToBindings}">Bindings</button>
        <button class="btn btn-default" vs-click="{navigateToForm}">Form</button>
        <button class="btn btn-default" vs-click="{navigateToInternationalization}">Internationalization</button>
    </p>

    <h2>Paging</h2>
    <p>
        <button class="btn btn-default" vs-click="{navigateToListPage}">Navigate to list page</button>
        <button class="btn btn-default" vs-click="{navigateToRecursivePage}">Navigate to recursive pages</button>
    </p>

    <h2>Views</h2>
    <p>
        <button class="btn btn-default" vs-click="{navigateToTabPage}">Navigate to tab page</button>
        <button class="btn btn-default" vs-click="{navigateToWebViewPage}">Navigate to web view page</button>
    </p>

    <h2>Dialogs</h2>
    <p>
        <button class="btn btn-default" vs-click="{showAlert}">Show not implemented alert</button>
        <button class="btn btn-default" vs-click="{showCustomDialog}">Show custom dialog</button>
    </p>
</div>