
<div class="container">
    <h1>ListPage</h1>
    <p>
        <button vs-click="{addItem}" class="btn btn-default">Add item</button>
    </p>
    <table class="table table-striped table-hover">
        <tr>
            <th style="width: auto">Items</th>
            <th style="width: 150px">&nbsp;</th>
        </tr>

        <!-- ko foreach: items -->
        <tr>
            <td>
                <a vs-click="{$parent.showItem}" vs-text="{title}" href="#"></a>
            </td>
            <td style="text-align: right">
                <button vs-click="{$parent.deleteItem.bind($parent, $data)}" class="btn btn-default">Delete</button>
            </td>
        </tr>
        <!-- /ko -->

        <tr vs-visible="{items().length == 0 && !isLoading()}">
            <td colspan="2">There are currently no items.</td>
        </tr>
        <tr vs-visible="{items().length == 0 && isLoading()}">
            <td colspan="2">Loading...</td>
        </tr>
    </table>
</div>